<template name="sideNavigation">
    <h5 class="sidebartitle">Navigation</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        <li><a href="{{getPathFor "dashboard" }}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        <li class="nav-parent"><a href="#!"><i class="fa fa-cogs"></i> <span>Site Settings</span></a>
            <ul class="children">
                <li><a href="#"><i class="fa fa-caret-right"></i> Meta Information</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Contact Information</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Social Accounts</a></li>
            </ul>
        </li>
        <li class="nav-parent"><a href="{{buildPathFor "projects" "" }}"><i class="fa fa-tasks"></i> <span>Projects</span></a>
            <ul class="children">
                <li><a href="{{buildPathFor "projects" "add" }}"><span class="pull-right badge badge-danger">{{getPublishedCount 'projects-counter'}}</span><i class="fa fa-caret-right"></i> Add Project</a></li>
                <li><a href="{{buildPathFor "projects" "" }}"><i class="fa fa-caret-right"></i> Gallery</a></li>
            </ul>
        </li>
        <li class="nav-parent"><a href="{{buildPathFor "products" "" }}"><i class="fa fa-cube"></i> <span>Products</span></a>
            <ul class="children">
                <li><a href="{{buildPathFor "products" "add" }}"><span class="pull-right badge badge-info">{{getPublishedCount 'products-counter'}}</span><i class="fa fa-caret-right"></i> Add Products</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Gallery</a></li>
                <li><a href="{{buildPathFor "types" "" }}"><i class="fa fa-caret-right"></i> Edit Types</a></li>
                <li><a href="{{buildPathFor "colors" "" }}"><i class="fa fa-caret-right"></i> Edit Colors</a></li>
            </ul>
        </li>
        <li class="nav-parent"><a href="{{buildPathFor "testimonials" "" }}"><i class="fa fa-smile-o"></i> <span>Testimonials</span></a>
            <ul class="children">
                <li><a href="{{buildPathFor "testimonials" "add"}}"><i class="fa fa-caret-right"></i> Add Testimonial</a></li>
            </ul>
        </li>
        <li class="nav-parent"><a href="#"><i class="fa fa-users"></i> <span>Stone Squad</span></a>
            <ul class="children">
                <li class="active"><a href="{{buildPathFor "teams" "add"}}"><i class="fa fa-caret-right"></i> Add Member</a></li>
            </ul>
        </li>
    </ul>
</template>