<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Ryan Harris for Brand Story Experts">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="icons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Planet Stone Marble &amp; Granite</title>
</head>
<template name="defaultLayout">
    <!-- Preloader -->
    <div class="preloader">
        <h4>LOADING</h4>
        <ul class="spinner">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- //Preloader -->
    {{>Template.dynamic template=superHeader }}
    {{>Template.dynamic template=header }}

        {{>Template.dynamic template=main }}

    {{>Template.dynamic template=footer }}
</template>