<template name="prductActiveCell">
    <div class="toggle toggle-success" data-toggle-active="{{isActive}}" style="height: 20px; width: 50px;">
        <div class="toggle-slide active">
            <div class="toggle-inner" style="width: 80px; margin-left: 0px;">
                <div class="toggle-on" style="height: 20px; width: 40px; text-align: center; text-indent: -10px; line-height: 20px;">
                    ON
                </div>
                <div class="toggle-blob" style="height: 20px; width: 20px; margin-left: -10px;">
                </div>
                <div class="toggle-off" style="height: 20px; width: 40px; margin-left: -10px; text-align: center; text-indent: 10px; line-height: 20px;">
                    OFF
                </div>
            </div>
        </div>
    </div>
</template>