/* 09 HEADER */
.s-front {
  #superHeader {
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    .hashtaglogo {
      position: absolute;
      left: 5vw;
      top: 0;
      height: inherit;
      width: auto;
      img {
        margin: 10px 0;
        height: 30px;
        width: auto;
        opacity: 0;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
      }
    }
    .wrapper.footer {
      padding: 4px 0;
      font-size: 1em;
      line-height: 45px;
      height: 50px;
      .circle {
        font-size: 15px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 100%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
      }
    }
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
  }
  #superHeader.shrink {
    height: 0;
    .circle {
      height: 0;
      line-height: 0;
    }
  }
  #superHeader.topframe {
    height: 50px;
    -webkit-box-shadow: 0 2px 8px 4px rgba(0,0,0,0.5);
    box-shadow: 0 2px 8px 4px rgba(0,0,0,0.5);
    .hashtaglogo {
      img {
        opacity: 0.7;
      }
    }
    .circle {
      height: inherit;
      line-height: 50px;
    }
  }
  .header {
    background: #fff;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    overflow: visible;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .header > .wrap {
    display: table;
    height: inherit;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .header .logo {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 0;
    color: #2B3A42;
    font-size: 29px;
  }
  .logo span {
    font-size: 37px;
    text-shadow: 0 0 0 #2B3A42;
    float: left;
    margin: 2px 5px 0 0;
  }

  .header.shrink {
    height: 0;
    top: -80px;
    overflow: hidden;
    border-bottom: none;
    .wrap {
      height: 0;
    }
  }
  .main-nav {
    float: right;
  }

  .advanced-search {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 9999;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
  }
  .advanced-search .wrap > div {
    float: left;
    width: 15%;
    padding: 30px 15px;
    position: relative;
  }
  .advanced-search .wrap > div:first-child {
    width: 25%;
    padding-left: 0;
  }
  .advanced-search .wrap > div:last-child {
    padding-right: 0;
  }
  .advanced-search .selector {
    color: #787878;
    font-weight: 500;
  }
  .advanced-search .button {
    border-width: 1px;
    font-size: 13px;
    font-weight: 600;
    height: 45px;
    white-space: nowrap;
  }
  .ui-datepicker {
    z-index: 99999 !important;
  }
  .ui-datepicker th {
    font-size: 13px;
    padding: 10px 15px;
  }
  .ui-datepicker td {
    font-size: 14px;
  }
  #startDate {
    background: #fff url(../../img/datepicker.png) 90% 13px no-repeat;
  }
  .advanced-search .selector,
  .advanced-search .selector span,
  .advanced-search input {
    font-size: 13px;
    text-transform: uppercase;
    color: #515E64;
  }
  .search-hide {
    float: right;
    padding: 0 15px 15px;
    color: #bbb;
    font-weight: 400 !important;
    margin-top: -15px;
    position: relative;
    z-index: 2;
  }
  .search-hide:hover,
  .search-hide:focus {
    color: #CAB08A;
  }
}