<template name="addColorQuickForm">
    <div class="panel panel-dark">
        <div class="panel-heading">
            <h3 class="panel-title">Add Color</h3>
        </div>
        {{#autoForm collection="Colors" id="afColorInsert" type="insert"}}
            <div class="panel-body">
                {{> afFieldInput name="title" placeholder="Add Color" }}
            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary btn-block mt10">Save</button>
            </div>
        {{/autoForm}}
    </div>
</template>