<template name="addTypeQuickForm">
    <div class="panel panel-dark">
        <div class="panel-heading">
            <h3 class="panel-title">Add Stone Type</h3>
        </div>
        {{#autoForm collection="Types" id="afTypesInsert" type="insert"}}
            <div class="panel-body">
                {{> afFieldInput name="title" placeholder="Add Product Type" }}
            </div><!-- panel-body -->
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary btn-block mt10">Save</button>
            </div>
        {{/autoForm}}
    </div>
</template>