<template name="productsedit">
    <div class="row">
        <div class="col-md-2">
            <ul class="pagination pagination-split">
                {{#with prev }}
                    <li class=""><a href="{{getPrevNxtURL _id }}"><i class="fa fa-angle-left"></i></a></li>
                {{/with}}
                {{#with nxt }}
                    <li class=""><a href="{{getPrevNxtURL _id }}"><i class="fa fa-angle-right"></i></a></li>
                {{/with}}
            </ul>
        </div>
        <div class="col-md-10">
            <h1 class="page-title">{{#with product}} {{name}} {{/with}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-dark">
                {{! #autoForm id="addProductForm" type=method meteormethod=updateProduct collection="Products" }}
                    {{#autoForm id="afUpdateProduct" type="update" collection="Products" doc=product}}
                    <div class="panel-heading">
                        <h4 class="panel-title">Product Details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group {{! #if afFieldIsInvalid name='active'}}has-error{{! /if}}">
                                    <div class="checkbox block">
                                            {{> afQuickField name="active"}}

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6">
                                    {{> afQuickField name='name'}}
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                    {{> afQuickField name='slug' }}
                            </div><!-- col-sm-6 -->
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-sm-6">
                                    {{> afQuickField name='color' type='select-multiple' options=pullColors}}
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                    {{> afQuickField name='type' type='select' options=pullTypes}}
                            </div><!-- col-sm-6 -->
                        </div><!-- row -->
                        <div class="row" style="margin-top: 2em;">
                            <div class="col-sm-12">
                                    {{> afQuickField name='desc' }}
                            </div>
                            <div class="col-sm-12">
                                <!--<div class="form-groups">-->
                                {{> afQuickField name="images" type="cfs-files" collection="productimages"}}
                                <!--</div>-->
                            </div>
                        </div>

                    </div><!-- panel-body -->
                    <div class="panel-footer">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                {{/autoForm}}
            </div>
        </div>
        <div class="col-md-3">
            {{> addTypeQuickForm }}
            {{> addColorQuickForm }}
        </div>
        <div class="col-md-3">
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <span class="panel-title">Attached Image</span>
                </div>
                <div class="panel-body">
                    <!--<div class="table-responsive">-->
                        <!--<table class="table table-dark mb30">-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>Name</th>-->
                                <!--<th>Type</th>-->
                                <!--<th>Color</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--{{! #if subReady }}-->
                                <!--{{! #with product }}-->
                                    <!--<tr>-->
                                        <!--<td> {{ name }} </td>-->
                                        <!--<td>{{ getType type }}</td>-->
                                        <!--<td>{{#each getColors color }} {{title}}, {{/each}}</td>-->
                                    <!--</tr>-->
                                <!--{{! /with}}-->
                            <!--{{! /if}}-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                    <ul class="filemanager-options">
                        <!--<li>-->
                            <!--<div class="ckbox ckbox-default">-->
                                <!--<input type="checkbox" id="selectall" value="1">-->
                                <!--<label for="selectall">Select All</label>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="" class="itemopt disabled"><i class="fa fa-envelope-o"></i> Email</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="" class="itemopt disabled"><i class="fa fa-download"></i> Download</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="" class="itemopt disabled"><i class="fa fa-upload"></i> Upload</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="" class="itemopt disabled"><i class="fa fa-pencil"></i> Edit</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="" class="itemopt disabled"><i class="fa fa-trash-o"></i> Delete</a>-->
                        <!--</li>-->
                        <!--<li class="filter-type">-->
                            <!--Show:-->
                            <!--<a href="all" class="active">All</a>-->
                            <!--<a href="document">Documents</a>-->
                            <!--<a href="audio">Audio</a>-->
                            <!--<a href="image">Images</a>-->
                            <!--<a href="video">Videos</a>-->
                        <!--</li>-->

                    </ul>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row filemanager">
                                {{#with product }}
                                {{#each getImages images }}
                                    <div class="col-xs-12 image">
                                        <div class="thmb">
                                            <div class="ckbox ckbox-default" style="display: block;">
                                                <input type="checkbox" id="check2" value="1">
                                                <label for="check2"></label>
                                            </div>
                                            <div class="btn-group fm-group" style="display: block;">
                                                <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <!--<ul class="dropdown-menu fm-menu" role="menu">-->
                                                    <!--<li><a href="#"><i class="fa fa-share"></i> Share</a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-download"></i> Download</a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>-->
                                                <!--</ul>-->
                                            </div><!-- btn-group -->
                                            <div class="thmb-prev">
                                                <a href="{{url store="fr" }}" data-rel="prettyPhoto">
                                                    <img src="{{url store="menuThumb" }}" class="img-responsive" alt="{{name}}">
                                                </a>
                                            </div>
                                            <h5 class="fm-title"><a href="">{{name}}</a></h5>
                                            <small class="text-muted">Updated: {{showUpdate updatedAt}}</small>
                                        </div><!-- thmb -->
                                    </div>
                                {{/each}}
                                {{/with}}
                            </div><!-- row -->
                        </div><!-- col-sm-12 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>