<template name="productsedit">
    <div class="row">
        <!--<div class="col-md-2">-->
            <!--<ul class="pagination pagination-split">-->
                <!--{{#with prev }}-->
                    <!--<li class=""><a href="{{getPrevNxtURL _id }}"><i class="fa fa-angle-left"></i></a></li>-->
                <!--{{/with}}-->
                <!--{{#with nxt }}-->
                    <!--<li class=""><a href="{{getPrevNxtURL _id }}"><i class="fa fa-angle-right"></i></a></li>-->
                <!--{{/with}}-->
            <!--</ul>-->
        <!--</div>-->
        <div class="col-md-10">
            <h1 class="page-title">{{#with product}} {{name}} {{/with}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-dark">
                {{! #autoForm id="addProductForm" type=method meteormethod=updateProduct collection="Products" }}
                    {{#autoForm id="afUpdateProduct" type="update" collection="Products" doc=product}}
                    <div class="panel-heading">
                        <h4 class="panel-title">Product Details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group {{! #if afFieldIsInvalid name='active'}}has-error{{! /if}}">
                                    <div class="checkbox block">
                                            {{> afQuickField name="active"}}

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6">
                                    {{> afQuickField name='name'}}
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                    {{> afQuickField name='slug' }}
                            </div><!-- col-sm-6 -->
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-sm-6">
                                    {{> afQuickField name='color' type='select-multiple' options=pullColors}}
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                    {{> afQuickField name='type' type='select' options=pullTypes}}
                            </div><!-- col-sm-6 -->
                        </div><!-- row -->
                        <div class="row" style="margin-top: 2em;">
                            <div class="col-sm-12">
                                    {{> afQuickField name='desc' }}
                            </div>
                            <div class="col-sm-12">
                                <!--<div class="form-groups">-->
                                {{> afQuickField name="images" type="cfs-files" collection="productimages"}}
                                <!--</div>-->
                            </div>
                        </div>

                    </div><!-- panel-body -->
                    <div class="panel-footer">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                {{/autoForm}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <span class="panel-title">Attached Image</span>
                </div>
                <div class="panel-body">
                                {{#with product }}
                                    {{#each getImages images }}
                                        <div class="col-xs-12 image">
                                            <div class="thmb">
                                                <div class="thmb-prev">
                                                    <a href="{{this.url store="full-res" }}" data-rel="prettyPhoto">
                                                        <img src="{{this.url store="menu-crop" }}" class="img-responsive" alt="{{name}}">
                                                    </a>
                                                </div>
                                                <h5 class="fm-title"><a href="">{{name}}</a></h5>
                                                <small class="text-muted">Updated: {{showUpdate updatedAt}}</small>
                                            </div><!-- thmb -->
                                            {{> FS.DeleteButton class="btn btn-danger btn-xs"}}
                                        </div>
                                    {{/each}}
                                {{/with}}
                </div>
            </div>
            {{> addTypeQuickForm }}
            {{> addColorQuickForm }}
        </div>
    </div>
</template>