//.s-front {
@blue-primary: rgb( 27, 88, 155 );
@blue-secondary: rgb( 44, 98, 167 );
@blue-alt: rgb( 12, 99, 144 );
@green-primary: rgb( 0, 133, 137 );
@tan-primary: rgb( 188, 190, 192 );

@grey-100: #263238;
@grey-90: lighten(@grey-100, 10%);
@grey-50: lighten(@grey-100, 50%);
//}
/***************************/

     //TABLE OF CONTENT
     //01 - Reset
     @import "modules/reset.import.less";
     //02 - Global styles
     @import "modules/global.import.less";
     //03 - Typography
     @import "modules/typography.import.less";
     //04 - Icons
     @import "modules/icons.import.less";
     //05 - Buttons
     @import "modules/buttons.import.less";
     //06 - Lists
     @import "modules/lists.import.less";
     //07 - Tables
     @import "modules/tables.import.less";
     //08 - Layout
     @import "modules/layout.import.less";
     //09 - Header
     @import "modules/header.import.less";
     //10 - Search results
     @import "modules/searchresults.import.less";
     //11 - Gallery
     @import "modules/gallery.import.less";
     //12 - Sales
     @import "modules/sales.import.less";
     //13 - HomePage
     @import "modules/homepage.import.less";
     //14 - Content
     @import "modules/content.import.less";
     //15 - Booking
     @import "modules/booking.import.less";
     //16 - Static pages
     @import "modules/staticpages.import.less";
     //17 - Blog
     @import "modules/blog.import.less";
     //18 - Testimonials
     @import "modules/testimonials.import.less";
     //19 - Destinations
     @import "modules/destinations.import.less";
     //20 - Crew
     @import "modules/crew.import.less";
     //21 - Faq
     @import "modules/faq.import.less";
     //22 - Login, register
     @import "modules/loginregister.import.less";
     //23 - Error page
     @import "modules/error.import.less";
     //24 - Contact
     @import "modules/content.import.less";
     //25 - Sidebars
     @import "modules/sidebars.import.less";
     //26 - Footer
     @import "modules/footer.import.less";
     //27 - Preloader
     @import "modules/preloader.import.less";
     //28 - Form elements
     @import "modules/formelements.import.less";
     //29 - Plugins
     @import "modules/plugins-uniform.import.less";
     @import "modules/plugin-jetmenu.import.less";
     @import "modules/plugin-codrops.import.less";
     //30 - Print
     @import "modules/print.import.less";
     //31 - Responsiveness
     @import "modules/responsive.import.less";
     /****************************/

