<template name="projectsadd">
        <div class="row">
            <div class="col-md-9">
        <div class="panel panel-dark">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="" class="panel-close">&mdash;</a>
                    <a href="" class="minimize">x</a>
                </div>
                <h4 class="panel-title">Add Project</h4>
                <p>You can add works in progress and uncheck the <code>Active</code> box to save this project as a draft.</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="error" style="display: block;">
                        <!--{{! #if afFieldIsInvalid name='Projects.name'}}<label for="title" class="error">You have to name the project</label>{{! /if}}-->
                        <!--{{! #if afFieldIsInvalid name='slug'}}<label for="slug" class="error">The slug should be filled in for SEO</label>{{! /if}}-->
                        <!--{{! #if afFieldIsInvalid name='assccolor'}}<label for="assccolor" class="error">What colors of stone were used here?</label>{{! /if}}-->
                        <!--{{! #if afFieldIsInvalid name='asscprod'}}<label for="asscprod" class="error">It helps if you can associate what the picture is showing with the products we offer</label>{{! /if}}-->
                        <!--{{! #if afFieldIsInvalid name='category'}}<label for="category" class="error">Please select a category</label>{{! /if}}-->
                        <!--{{! #if afFieldIsInvalid name='desc'}}<label for="desc" class="error">Please say a little about this project</label>{{! /if}}-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">

                    </div>
                </div>
                <div class="row mb40">
                    <div class="col-sm-6">

                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6">

                    </div><!-- col-sm-6 -->
                </div><!-- row -->
                <div class="row mb40">
                    <div class="col-sm-4">

                    </div><!-- col-sm-4 -->
                    <div class="col-sm-4">

                    </div><!-- col-sm-4 -->
                    <div class="col-sm-4">

                    </div><!-- col-sm-4 -->
                </div><!-- row -->
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">


                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </div><!-- panel-footer -->
        </div><!-- panel-default -->
        </div>

            <div class="col-md-3">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Category</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
                <div class="panel">

                </div>
            </div>
        </div>

</template>