<template name="selectedImageManager">
    <div class="thmb">
        <div class="ckbox ckbox-default">
            <input type="checkbox" id="check2" value="1">
            <label for="check2"></label>
        </div>
        <div class="btn-group fm-group">
            <button type="button"
                    class="btn btn-default dropdown-toggle fm-toggle"
                    data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu fm-menu" role="menu">
                <li><a href="#"><i class="fa fa-share"></i> Share</a>
                </li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>
                    Email</a></li>
                <li><a href="#"><i class="fa fa-pencil"></i> Edit</a>
                </li>
                <li><a href="#"><i class="fa fa-download"></i> Download</a>
                </li>
                <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                </li>
            </ul>
        </div><!-- btn-group -->
        <div class="thmb-prev">
            <img src="{{this.url store='thumbnails'}}" alt="">

        </div>
        <h5 class="fm-title"><a href="">Vegetarian.png</a></h5>
        {{! > FS.DeleteButton class="btn btn-danger btn-xs"}}
        <small class="text-muted">{{this.size store="full-res"}}</small>
    </div>
</template>