<template name="testimonialedit">
    <div class="row">
        {{#autoForm id="afUpdateTestimonialForm" type="update" collection="Testimonials" doc=testimonial}}
            <div class="col-md-9">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <div class="panel-btns">
                            <a href="" class="panel-close">&mdash;</a>
                            <a href="" class="minimize">x</a>
                        </div>
                        <h4 class="panel-title">Edit Testimonial</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="error" style="display: block;">
                                {{#if afFieldIsInvalid name='title'}}<label for="title" class="error">You have to name the project</label>{{/if}}
                                {{#if afFieldIsInvalid name='body'}}<label for="body" class="error">The body should be filled in</label>{{/if}}
                                {{#if afFieldIsInvalid name='author'}}<label for="author" class="error">What colors of stone were used here?</label>{{/if}}
                                {{#if afFieldIsInvalid name='category'}}<label for="category" class="error">It helps if you can associate what the picture is showing with the products we offer</label>{{/if}}
                            </div>
                        </div>
                        <div class="row mb40">
                            <div class="col-sm-6">
                                <div class="form-group  {{#if afFieldIsInvalid name='title'}}has-error{{/if}}">
                                    <label class="control-label">{{afFieldLabelText name='title'}}</label>
                                    {{> afFieldInput name='title'}}
                                    {{! > afQuickField name='name' autofocus='' label=false }}
                                </div>
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                <div class="form-group  {{#if afFieldIsInvalid name='author'}}has-error{{/if}}">
                                    <label class="control-label">{{afFieldLabelText name='author'}}</label>
                                    {{> afFieldInput name='author'}}
                                </div>
                            </div><!-- col-sm-6 -->
                        </div><!-- row -->
                        <div class="row mb40">
                            <div class="col-sm-6">
                                <div class="form-group  {{#if afFieldIsInvalid name='category'}}has-error{{/if}}">
                                    <label class="control-label">{{afFieldLabelText name='category'}}</label>
                                    {{> afFieldInput name='category' type='select-multiple' options=pullCategories}}
                                </div>
                            </div><!-- col-sm-4 -->
                        </div><!-- row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group  {{#if afFieldIsInvalid name='body'}}has-error{{/if}}">
                                    <label class="control-label" for="desc">{{afFieldLabelText name='body'}}</label>
                                    {{> afFieldInput name='body' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div><!-- panel-footer -->
                </div><!-- panel-default -->
            </div>
        {{/autoForm}}
        <div class="col-md-3">

        </div>
    </div>
</template>